.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0;
}
.container h2 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}

.CellSelector {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    margin: 0 2px;
    border: 2px dotted black;
    border-radius: 5px;
    cursor: pointer;

    color: gold;
    font-size:24px ;
    text-align: center;
    font-weight: bold;
}
.cell.selected {
    border: 3px solid gold;
}

.wheat {
    background: saddlebrown url("../../images/wheat.png") center;
    background-size: 50px 50px;
}

.cow {
    background: saddlebrown url("../../images/cow.png") center;
    background-size: 50px 50px;
}

.chicken {
    background: saddlebrown url("../../images/chicken.png") center;
    background-size: 50px 50px;
}

.cancel {
    color: black;
    background: red;
    border: 2px solid black;
    line-height: 40px;
}
